@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(images/Background\ Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/*header start*/

#header img {
  width: 50px;
  height: 50px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  background: #f2ede6;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.4);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 15px;
  color: #1e2833;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #678935;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #678935;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/*home page*/

#hero {
  background-image: url(images/pasta\ in\ production.jpeg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-title {
  color: white;
  font-size: 70px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.home-sub-title {
  font-weight: 400;
  font-size: 30px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*best sellers part*/

.best-sellers {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 40px 9px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

.green-line {
  background: #678935;
  height: 3px;
  margin-bottom: 3px;
}

h5 {
  margin-top: 5px;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
}

h6 {
  font-weight: lighter;
  line-height: 2;
}

.price {
  font-size: 10px;
  font-weight: lighter;
}

button {
  width: 200px;
  height: 40px;
  background-color: #678935;
  color: white;
  border: solid 1px #678935;
  border-radius: 8px;
  margin: 0 auto;
  padding: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: white;
  color: #678935;
}
a {
  text-decoration: none;
}

/*Footer*/

hr {
  background-color: #678935;
  border: none;
  height: 3px;
  margin-top: 70px;
}
.footer-bio img {
  width: 60px;
  height: 60px;
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.footer-bio h4 {
  text-align: center;
}

.footer-bio h5 {
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
}

.footer-bio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bio li {
  display: inline;
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.footer-bio li a {
  text-decoration: none;
  font-size: 12px;
  color: #1e2833;
  transition: 0.3s ease;
}

.footer-bio li a:hover,
.footer-bio a.active {
  color: #678935;
}

.footer-bio li a.active::after,
.footer-bio li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #678935;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.footer-bio,
.fa-brands {
  text-align: center;
  margin-top: 25px;
  gap: 5px;
}

.footer-bio i:first-child {
  margin-right: 10px;
}

.footer-bio i:last-child {
  margin-left: 10px;
}

.footer-p {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

/*Shop Page*/

#page-header {
  position: absolute;
  top: -40%;
  left: 5%;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50vh;
  background-image: url("images/biofit_assets__1_-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.section-p1-shop {
  margin-top: 50vh;
}

#feature-shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 85px;
  justify-items: center;
}

#feature-shop .fe-box {
  width: 180px;
  text-align: center;
  padding: 40px 9px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
}

#feature-shop .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#feature-shop .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

.green-line {
  background: #678935;
  height: 3px;
  margin-bottom: 3px;
}

h5 {
  margin-top: 5px;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
}

h6 {
  font-weight: lighter;
  line-height: 2;
}

.price {
  font-size: 10px;
  font-weight: 400;
  color: #678935;
}

.cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #678935;
}

/*Single product*/

/* #prodetails {
  display: flex;
  margin-top: 20px;
} */

/* #prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
} */

#prodetails {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 100%;
  /* margin-right: 0px; */
}

#prodetails .single-pro-details {
  width: 100%;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* #prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
} */

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details button {
  background: #678935;
  color: #fff;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.extra img {
  width: 50%;
  height: auto;
}

.extra-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra-details h5 {
  font-size: 11px;
  margin: 0;
}

/*Contact page*/

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form span {
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
  /* margin-top: 50px; */
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button:hover {
  cursor: pointer;
}

/* Start Media Query */

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #f2ede6;
    box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 40vh;
  }

  #sm-banner .banner-box2 {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }

  /*About Page*/

  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-head div {
    padding-left: 0px;
  }

  /*About Page*/

  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
  }
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  /* position: relative; */
  /* padding-bottom: 90px; */
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

.image-row {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.blog-box {
  margin-right: 20px;
}

.blog-box:last-child {
  margin-right: 0;
}

.blog-box .under-img {
  font-size: 13px;
  text-align: center;
}

.blog-img-image {
  width: 100%;
}
